#title{
  background-color: #333333;
  color: #FFFFFF;
}

#intro{
  color: #666666;
}

#news{
  background-color: #FF8000;
  color: #F5F5F5;
}

#copyright{
  background-color: #F5F5F5;
  color: #666666;
}

a{
  color: #C00000;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: #C00000;
  text-decoration: underline;
  font-weight: bold;
}
