body{
  margin: 0px;
}

#title{
  padding: 20px 80px;
}

#news{
  padding: 20px;
  width: 300px;
  float: right;
  margin: 50px 80px 20px 20px;
}

#intro{
  padding: 20px 80px;
}

#copyright{
  padding: 20px 80px;
  padding: 20px 75px;
}

img{
  width: 120px;
}

.imatge{
  float:left;
  margin-right: 50px;
}
